!!!
%html
  %head
    %title Todo
    = stylesheet_link_tag    "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .container
      .jumbotron
        %h1
          Todo
          %small Tutorial Application
        = link_to 'New task', new_task_path,  class:  'btn btn-primary', remote: true
    = yield